<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>Demo</title>
    <meta content="" name="description"/>
    <meta content="width=device-width" name="viewport"/>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Demo</h1>
</div>
<div class="container" data-sec-authorize="!isAuthenticated()">
    With GitHub: <a href="/oauth2/authorization/github">click here</a>
</div>
<div class="container" data-sec-authorize="!isAuthenticated()">
    With Google: <a href="/oauth2/authorization/google">click here</a>
</div>
<div class="container" data-sec-authorize="!isAuthenticated()">
    With Twitter: <a href="/oauth2/authorization/twitter">click here</a>
</div>
<div class="container" data-sec-authorize="isAuthenticated()">
    Logged in as: <span data-th-text="${username}"></span>
    <div data-th-each="mapEntry : ${map}">
        <span data-th-text="${mapEntry.key}"></span> =
        <span data-th-text="${mapEntry.value}"></span>
    </div>
</div>
<div class="container" data-sec-authorize="isAuthenticated()">
    <form data-th-action="@{/logout}" method="post">
        <button class="btn btn-primary" type="submit">Logout</button>
    </form>
</div>
</body>
</html>